@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveTopLeft {
  to {
    transform: translate(-60%, -60%);
  }
}

@keyframes moveTopRight {
  to {
    transform: translate(60%, -60%);
  }
}

@keyframes moveBottomLeft {
  to {
    transform: translate(-60%, 60%);
  }
}

@keyframes moveBottomRight {
  to {
    transform: translate(60%, 60%);
  }
}

.animate-top-left {
  animation: moveTopLeft 0.5s ease forwards;
}

.animate-top-right {
  animation: moveTopRight 0.5s ease forwards;
}

.animate-bottom-left {
  animation: moveBottomLeft 0.5s ease forwards;
}

.animate-bottom-right {
  animation: moveBottomRight 0.5s ease forwards;
}
